* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  font-family: inherit;
  width: fit-content;
}

button,
a {
  cursor: pointer;
  color: white;
}

input,
textarea {
  background-color: #333c45;
  outline: none;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.main {
  background-color: #131929;
  color: white;
  min-height: 100vh;
}

/* home page css */
header {
  background-color: #15325a;
  color: white;
  padding: 1rem;
}

#navigation-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#navigation-list li {
  margin-right: 1rem;
}

#navigation-list li a {
  color: white;
  text-decoration: none;
}

/* about page css */
#about-main {
  padding: 2rem;
}

#about-us-container {
  width: 300px;
  height: 80%;
  border-radius: 5px;
  margin: auto;
  padding: 0.5rem;
  background-color: #343c46;
}

#about-heading {
  display: inline-block;
  background-color: #15325a;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.back-to-dashboard-btn {
  display: inline-block;
  margin-top: 5px;
  color: white;
  background-color: #131929;
  border: none;
  padding: 5px;
}

/* signup and login page css */
#signup-form-container,
#login-form-container,
#forgot-form-container,
#reset-form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form,
#login-form,
#forgot-form,
#reset-form {
  width: 300px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 2px 1px rgb(233, 226, 226);
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 2rem;
  text-align: center;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  font-weight: 600;
}

.form-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding-left: 5px;
  transition: all 0.2s ease;
}

.submit-button {
  background-color: rgb(32, 87, 138);
  width: 100%;
  height: 40px;
  margin-top: 8px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#message {
  text-align: center;
}

.form-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 13px;
}

.login-link,
.signup-link,
.forgot-link {
  color: black;
  text-decoration: none;
}

.login-link span,
.signup-link span,
.forgot-link span {
  color: blue;
  font-weight: 500;
}

.form-input:hover {
  border-color: #cbd5e1;
}

.form-input:focus {
  border-color: rgb(166, 186, 204);
  box-shadow: 0 0 0 4px var(--primary-light);
}

.submit-button:hover {
  background: rgb(79, 132, 179);
  transform: translateY(-1px);
}

/* expense form css */

#expense-form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#expense-form {
  width: fit-content;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #ddd8d8;
  background-color: #343c46;
}

#expense-form button[type="submit"] {
  width: 100%;
  background-color: #389841;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

#expenses-section {
  padding: 2rem;
}

#expenses-section li {
  margin-bottom: 5px;
}

button.delete-expense-btn {
  padding: 5px;
  background-color: rgb(190, 60, 60);
  border: none;
  color: white;
  /* margin: 5px; */
  border-radius: 5px;
}

#leaderboard-section {
  display: none;
  width: 200px;
  text-align: center;
  border: 1px solid rgb(209, 198, 198);
  padding: 1rem;
}

#leaderboard-section li {
  margin-bottom: 5px;
}

#leaderboard-btn {
  background-color: #bddc41;
  color: black;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 10px 0;
}

#leaderboard-list,
#expense-list {
  list-style-type: numeric;
}

#leaderboard-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderborad-user-info {
  display: flex;
  align-items: center;
}

.leaderborad-user-info img {
  margin-right: 2px;
}

@media screen and (max-width: 480px) {
  #expense-form-container {
    flex-direction: column-reverse;
  }

  #leaderboard-section {
    margin: 2rem auto;
  }
}

/* day to day expenses css */
#expense-table {
  width: 100%;
  max-width: 400px;
  margin: 5px 0;
}

#expense-table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
}
#expense-table tr:nth-child(even) {
  background-color: #727b84;
}

#expense-table tr:nth-child(odd) {
  background-color: #15325a;
}

#expense-headings {
  background-color: rgb(45, 111, 149);
  color: white;
}

#paginated-btns-container {
  display: flex;
}

#prev-next-btn-container {
  margin-left: 5px;
}

#download-expense-btn {
  display: none;
  align-items: center;
  background-color: #389841;
  padding: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

#download-img {
  margin-right: 5px;
}

/* buy premium css */
#buy-premium-main {
  display: flex;
  justify-content: center;
}

#buy-premium-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  margin-top: 1rem;
  background-color: #343c46;
  border-radius: 5px;
}

#premium-features-list {
  margin-top: 2rem;
}

#premium-features-list li span {
  font-size: 1.1rem;
  font-weight: 700;
}

#buy-premium-btn {
  font-weight: 600;
  margin-top: 1rem;
  background-color: #ffce54;
  color: black;
  border: none;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s;
  /* font-style: ; */
}

#buy-premium-btn:hover {
  transform: scale(1.1);
  cursor: not-allowed;
}

#downloaded-expenses-table-container {
  padding: 2rem;
  overflow-x: scroll;
}

#downloaded-expense-table {
  width: 100%;
  max-width: 350px;
  border-collapse: collapse;
}

#downloaded-expense-table,tr,
th,
td {
  border-collapse: collapse;
  border-color: white;
}

