* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* signup and login page css */
#signup-form-container,
#login-form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form,
#login-form {
  width: 300px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 2px 1px rgb(233, 226, 226);
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 2rem;
  text-align: center;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  font-weight: 600;
}

.form-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding-left: 5px;
  transition: all 0.2s ease;
}

.submit-button {
  background-color: rgb(32, 87, 138);
  width: 100%;
  height: 40px;
  margin-top: 8px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#message {
  text-align: center;
}

.form-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 13px;
}

.login-link {
  color: black;
  text-decoration: none;
}

.login-link span {
  color: blue;
  font-weight: 500;
}

.form-input:hover {
  border-color: #cbd5e1;
}

.form-input:focus {
  border-color: rgb(166, 186, 204);
  box-shadow: 0 0 0 4px var(--primary-light);
}

.submit-button:hover {
  background: rgb(79, 132, 179);
  transform: translateY(-1px);
}

/* expense css */
/* #main {
  display: flex;
  justify-content: space-evenly;
} */

#main header {
  text-align: center;
  background-color: brown;
  padding: 1rem;
  color: white;
}

#expense-form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
}

#expense-form {
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #ddd8d8;
  background-color: rgb(246, 242, 242);
}

#expense-form input {
  border: none;
  padding: 5px;
}

#expense-form button[type="submit"] {
  background-color: rgb(73, 190, 91);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

#expenses-section {
  padding: 2rem;
}

#expenses-section li {
  margin-bottom: 5px;
  /* border-bottom: 1px solid black; */
}

#expenses-section li button {
  padding: 5px;
  background-color: rgb(190, 60, 60);
  border: none;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
}

#leaderboard-section {
  display: none;
  border: 1px solid rgb(209, 198, 198);
  padding: 2rem;
}

#leaderboard-section li {
  margin-bottom: 5px;
}

#leaderboard-btn {
  background-color: rgb(224, 224, 104);
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 10px 0;
}

#leaderboard-list,
#expense-list {
  list-style-type: numeric;
}
